{% include svg-icons.html %}

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
中文随机一言：<span id="motto"></span>
<br>
English random motto：<span id="mottoEN"></span>
<script>
    $("#motto").load("https://v1.hitokoto.cn/?encode=text");
    $.ajax({
        url: "https://api.forismatic.com/api/1.0/?method=getQuote&format=jsonp&lang=en&jsonp=parseQuote",
        jsonp: "callback",//传递给请求处理程序或页面的，用以获得jsonp回调函数名的参数名(一般默认为:callback)
        jsonpCallback: "parseQuote",//自定义的jsonp回调函数名称，默认为jQuery自动生成的随机函数名，也可以写"?"，jQuery会自动为你处理数据
        dataType: "jsonp",
        success: function (response)
        {
            console.log(response);
            $("#mottoEN").append(response.quoteText);
        }
    });
</script>

{% if site.footer-text %}
<p>{{ site.footer-text }}</p>
{% endif %}