<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      {% if site.avatar %}
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
      {% endif %}

      <div class="site-info">
        <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
        <p class="site-description">{{ site.description }}</p>
      </div>

      <div id="tp-weather-widget" style="text-align: right"></div>
      <script>(function(T,h,i,n,k,P,a,g,e){g=function(){P=h.createElement(i);a=h.getElementsByTagName(i)[0];P.src=k;P.charset="utf-8";P.async=1;a.parentNode.insertBefore(P,a)};T["ThinkPageWeatherWidgetObject"]=n;T[n]||(T[n]=function(){(T[n].q=T[n].q||[]).push(arguments)});T[n].l=+new Date();if(T.attachEvent){T.attachEvent("onload",g)}else{T.addEventListener("load",g,false)}}(window,document,"script","tpwidget","//widget.seniverse.com/widget/chameleon.js"))</script>
      <script>tpwidget("init", {
          "flavor": "slim",
          "location": "WS17E8Y5G0RU",
          "geolocation": "enabled",
          "language": "auto",
          "unit": "c",
          "theme": "chameleon",
          "container": "tp-weather-widget",
          "bubble": "enabled",
          "alarmType": "badge",
          "uid": "UACA57B248",
          "hash": "efdfb10000cf73fbc7f3bf6a83bc6382"
      });
      tpwidget("show");</script>

      <nav>
        {% for nav in site.navigation %}
        {% if nav.url contains 'http://' or nav.url contains 'https://' %}
        <a href="{{ nav.url }}">{{ nav.name }}</a>
        {% else %}
        <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.name }}</a>
        {% endif %}
        {% endfor %}
      </nav>
    </header>
  </div>
</div>